.city-info {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    .city-name {
        font-weight: 900;
        margin-bottom: 0;
    }
    .today-weather-img {
        display: block;
        width: 100px;
        height: 100px;
        margin-left: -5px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .day-status {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: -5px;
    }

    .today-temperature {
        font-size: 5rem;
        font-weight: 900;
        line-height: 1.3;
    }
    .max-min-temperature {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .city-info {
        .city-name {
            font-size: 1.3rem;
        }
        .today-weather-img {
            width: 70px;
            height: 70px;
        }
        .day-date {
            font-size: 0.7rem;
        }
        .day-status {
            font-size: 1rem;
        }

        .today-temperature {
            font-size: 3rem;
        }
        .max-min-temperature {
            font-size: 1.2rem;
        }
        .today-summary {
            font-size: 0.8rem;
        }
    }
}
